body {
    margin : 0;
    padding : 0;

}

.container {
    border : 1px solid white; 
    height : 100vh; 
    background: url(images/background.jpg) no-repeat center center;
    background-size: cover;

}

.container:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

form.box {
    border: none;
    width : 500px;
    position: absolute;
    top : 30%;
    left : 50%;
    transform:  translate(-50%, -50%);
    color : #fff;
    text-align: center;
}

form.box h1 {
    font-weight: normal;
}

form.box input{
    border: none;
}

form.box input[type=text] {
    background-color: #fff;
    width: 340px; 
    padding: 10px;
    border-radius: 25px 0px 0px 25px;
    
}

form.box input[type=submit] {
    width: 130px;
    background-color: #9EE439;
    padding: 10px;
    border-radius: 0 25px 25px 0;
    color: black;
    margin-left: -4px;
}

form.box input[type=text]::placeholder{
    color: gray;
}

#result_table {
    border-collapse: collapse;
    width: 40%;
    border: none;
    position:relative;
    margin-top: 25%;
    margin-left: 30%;
    color : #fff;
    text-align: center;

}

#result td, #result th {
    border: 1px solid #ddd;
    padding: 8px;
    color: black;
    background-color: white;
  }

#result tr:nth-child(even){background-color: #f2f2f2;}

#result tr:hover {background-color: #ddd;}

#result th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}


  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.loading_box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 100% viewport height to cover the whole page */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background overlay */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999; /* Place it above other elements */
}

/* Style the loading icon (you can replace this with your own icon) */
#loading {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation: spin 1s linear infinite; /* Add a spinning animation */
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-radius: 50%;
}